<div class="container">
  <div class="row">
    <div class="[ info-card ]">
      <img style="width: 100%"
           src="http://www.andaluciaesdeporte.org/sites/default/files/646/gestor-profile/logo_h_fidiascenter_azul_copia.jpg"/>
      <div class="[ info-card-details ] animate">
        <div class="[ info-card-header ]">
          <h1> Quienes Somos </h1>
        </div>
        <div class="[ info-card-detail ]">
          <!-- Description -->
          <p>Servicio de Preparación Física al Consorcio de Bomberos de Cádiz
            Fidias nace en 2003 con la intención de aplicar las ciencias de la actividad física y el deporte a
            profesionales que, por su actividad laboral, tienen que realizar esfuerzos de gran intensidad en las que a
            veces está en juego tanto su propia seguridad como la de otras personas. Desde 2003 hasta 2013 prestamos el
            servicio de preparación física al Consorcio de Bomberos de la Provincia de Cádiz, en un proyecto pionero en
            España que nos permitió trabajar de forma personalizada con más de 500 bomberos durante 10 años.</p>
          <p>Nace Fidias Formación
            En el 2005 realizamos nuestro primer curso, desde entonces desarrollamos programas formativos dentro del
            campo del entrenamiento Personal y por nuestras formaciones han pasado más de 2000 alumnos con unos índices
            de satisfacción por encima de los 9 puntos en nuestras sedes en España, Colombia y Chile..</p>
          <p>I Congreso Internacional de Avances en Ciencias de la Actividad Física y el Deporte
            Los días 19 y 20 de Mayo de 2006, VFsport organizó con nuestra colaboración en Sevilla el I Cogreso
            Internacional de Avances en Ciencias de la Actividad Física y el Deporte, en el que participaron algunos de
            los mejores profesionales españoles y europeos en ciencias del deporte como: Nicolás Terrados, Sabino
            Padilla, Iñigo Mújika, Juan M. García Manso, Julio Tous, Roberto Sassi, José Luis Arjol, Per Tesch, Nicola
            Maffiuletti o Rafael Maldonado y Jose Luis Quintana de VFSport, que en aquel momento llevaban la dirección
            técnica de Fidias..</p>
          <p>1ª formación con el Consorcio de Bomberos de Cádiz
            En marzo de 2007 realizamos nuestro primer curso dentro del programa de formación del Consorcio de Bomberos
            de la provincia de Cádiz con una duración de 25 horas. En los años siguientes realizaríamos hasta 7
            ediciones por las que pasaron casi 100 bomberos profesionales pertenecientes a este consorcio.</p>
          <p>I Jornadas de Preparación física en profesiones de riesgo con el Instituto Andaluz del Deporte
            En Junio de 2007 llevamos adelante unas jornadas organizadas por el Instituto Andaluz del Deporte en las que
            unimos a profesionales de diferentes ámbitos para poner en común los métodos de entrenamiento usados. Así,
            tuvimos la oportunidad de reunir en unas jornadas por primera vez a bomberos, grupos de rescate de la
            guardia civil, pisteros, grupos de operaciones especiales de la policía, grupos especiales del ejército,
            bomberos forestales,….</p>
          <p>II Jornadas de Preparación física en profesiones de riesgo con el Instituto Andaluz del Deporte
            Después de la gran experiencia del año anterior, en mayo de 2008 repetimos jornadas con cambio de escenario
            y con un cariz más práctico, uniéndole a las sesiones teóricas diferentes prácticas y simulacros.</p>
          <div class="social">
            <a href="https://es-es.facebook.com/Fidiasentrenamiento/" class="[ social-icon facebook ] animate"><span
              class="fa fa-facebook"></span></a>

            <a href="https://twitter.com/fidiasentrena?lang=es" class="[ social-icon twitter ] animate"><span
              class="fa fa-twitter"></span></a>

            <a href="https://es.linkedin.com/company/formacion-integral-deportiva-analisis-y-seguimiento"
               class="[ social-icon linkedin ] animate"><span
              class="fa fa-linkedin"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
